@charset "UTF-8";

body{
	
	background-image: url(../image/fondWelcome.jpg);
}
#test{
	background-color: rgba(0, 128, 0, .5); 
}
table{
	width : 75%;
	position : right;
	border: 1px solid black;
}
td {
	border: thin solid;
	text-align: center;
	font-size: 140%;
}
th{
	border: thin solid;
	text-align: center;
	
} 
#photo {
	
    float: right;
}
#link{
	
	width: 40%;
	margin: auto;
	font-size: 140%;
}
#tableau{
	
	margin: auto;
	width: 100%;
}
#textError{
	
	color:red;
	margin: auto;
	width:70%;
	font-size: 140%;
}